<h4><p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;padding:10px;">Mulch Feedback:</p></h4>
<br>
<p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;">
<b>Subject: </b> <%= @params[:subject] %><br>
<b>Email: </b> <%= @params[:email] %><br>
<b>Phone: </b> <%= @params[:phone] %><br>
<b>Message: </b> <%= @params[:message] %><br>
<br><br>
Have a great time <br>
Mulch Team <br>
</p>