<h4><p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;padding:10px;">Dear <%= @user.first_nm %>:</p></h4>
<br>
<p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;padding:10px;">Your ref. id: <b> <%= @user.ref_id %> </b> <br><br></p>
<p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;"> Welcome to Mulch!. <br> You can get more information/future activities at Mulch by visiting our website www.mulch.com or by visiting our facebook page - https://www.facebook.com/mulch.

<br><br>
Have a great time <br>
Mulch Team <br>
</p>