
<%= content_tag( "section", class: "container pd50") do %>
    <%= content_tag( "div", class: "login") do %>
        <h1>Change Password?</h1>
    <%= render partial: '/shared/flash', collection: [:notice, :alert, :success, :error], as: :level %>
    <%= form_for @user, url: change_password_path, html: { onsubmit: "if($('.edit_user').valid()){show_loader('.flash_messages', '.loader')}" }, method: :post do |f| %>
          <p><%= f.password_field :current_password, autofocus: true, class: "lgn", placeholder: "Current Password *" %></p>
          <p><%= f.password_field :password, class: "lgn", placeholder: "New Password *" %></p>
          <p><%= f.password_field :password_confirmation, class: "lgn", placeholder: "Confirm Password *" %></p>
          <p class='loader' style='display:none;'><img src='/assets/ajax-loader.gif'>Please wait...</p>
          <p class="submit"><%= f.submit "Change Password!", id: 'submt', class: 'lgn' %></p>
        <% end %>
  <% end -%>
<% end -%>
