<%= content_tag( "div", class: "container" ) do %>
	<%= content_tag( "div", class: "mg10 pd30" ) do %>
		<%= render partial: '/shared/flash_messages', collection: [:notice, :alert, :success, :error], as: :level %>
		<h2><%= current_user.full_name %>'s Registered Children:</h2>
		<%= content_tag( "table", class: "table" ) do %>
			<thead>
				<th class="success">Name</th>
				<th class="success">REF ID</th>
				<th class="success">Phone/Mobile</th>
				<th class="success">Email</th>
				<th class="success">SSN</th>
				<th class="success">Gender</th>
				<th class="success">Profile</th>
			</thead>
			<tbody>
				<% @children.each do |child| %>
					<tr>
						<td><%= child.full_name %></td>
						<td><%= child.ref_id %></td>
						<td><%= [child.phone, child.mobile].join('/') %></td>
						<td><%= child.email %></td>
						<td><%= format_ssn(child.ssn) %></td>
						<td><%= child.gender %></td>
						<td><%= image_tag child.avatar.url, size: '30x30' %></td>
				<% end %>
			</tbody>
		<% end %>
	<% end %>
<% end %>
