$('.loader').hide();
$('.flash_messages').removeClass('alt-success alt-error');
$('.flash_messages').addClass('alt-<%= @flash[:status] %>');
$('.flash_messages').html("<%= @flash[:message] %>");
goTop();

<% unless @redirect_to_path.nil? %>
	window.location.href = "<%= @redirect_to_path %>"
<% end %>