client_id: <%= ENV["MULCH_PAYPAL_CLIENT_ID"] %>
client_secret: <%= ENV["MULCH_PAYPAL_CLIENT_SECRET"] %>
mode: sandbox
app_id: <%= ENV["MULCH_PAYPAL_APP_ID"] %>
username: <%= ENV["MULCH_PAYPAL_USERNAME"] %>
password: <%= ENV["MULCH_PAYPAL_PASSWORD"] %>
signature: <%= ENV["MULCH_PAYPAL_SIGNATURE"] %>
sandbox_email_address: <%= ENV["MULCH_PAYPAL_SANDBOX_EMAIL_ADDRESS"] %>