<%= content_tag( "div", class: "container" ) do %>
	<div class="mg10">
		<div class="c1 col-xs-12">
		    <div class="hd1">
			    <i class='fa fa-bars'></i> Vision
			</div>
			<div class="content pd10"> Help children to establish College fund </div>
		</div>
		<div class="c1 col-xs-12">
			<div class="hd1">
			    <i class='fa fa-bars'></i> Mission
			</div>
			<div class="content pd10">Provide non Profit Organization, the means to empower their youth with an educational funding that would inspire kids throughout their development because the college coffee cup (CCC) Can be started as early as ONE day old, it would give young mother the hope	and inspiration needed for the success of both Mother and Child.
			</div>
		</div>
	</div>	
<% end %>