<div class="container white-font">
	<div class="mg10 thmcolor pd30">
		<h2 class="pcenter">Disclaimer</h2>
		<span class="fnt16">
		<p align="justify">
		The Gail A. Hall College Coffee Club is a rewards points program and 100% of the proceeds belong to The College Coffee Club. 6% of each pledge is paid to United Sponsors of America for web site services. There is a 49 cent transaction fee assessed to each donation of which 6 cents is retain by USA Educational Support Services for marketing and distribution. Many Useful Lives Cultivated Here ( MULCH ) and United Sponsors of America are works in progress and are not officially open to the public. It is estimated that site will officially open on or about January 1, 2015.At this time initial proceeds may be used as seed money for the start up cost of the Gail A. Hall College Coffee Club web site including any and all applicable fees necessary to comply with State, Federal, and International laws.
		</p>
		</span>
	</div>
</div>