<%= content_tag( "div", class: "container" ) do %>
	<div class="mg10">
		<div class="c1 col-xs-12">
		    <div class="hd1">
			    <i class='fa fa-bars'></i> Objectives
			</div>
			<div class="content pd10"> 
				<ul>
					<li>Provide non profits with gain donations, helping establish and develop educational funds for youth </li>
					<li>Encourage every youth to continue their education after High School and provide cash incentives for Graduates </li>
					<li>Allow and encourage Higher Studies Juniors to participate in a foreign student exchange program </li>
				</ul>
			</div>
		</div>
	</div>
<% end %>